@model AtividadeModulo.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover Cliente Existente</h1>

<h3>Os dados a serem removidos estão listados abaixo</h3>
<div>
    <h4>Deseja realmente remover esse cliente do banco de dados?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeReside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeReside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfReside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfReside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisReside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisReside)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>
</div>
