@model AtividadeModulo.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Cliente Cadastrado</h1>

<div>
    <h4>Abaixo estão listados todos os dados referentes a esse cadastro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeReside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeReside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfReside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfReside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisReside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisReside)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.IdCliente">Atualizar Dados</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
