@model AtividadeModulo.Models.Pacote

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Pacote Existente</h1>

<h3>Os dados a serem removidos estão listados abaixo</h3>
<div>
    <h4>Deseja realmente excluir esse pacote do banco de dados?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAcompanhantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAcompanhantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospedagemSimNao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospedagemSimNao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVolta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVolta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPacote" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>
</div>
